<main>
  <div class="header">
    <h1>Serviços</h1>
    <div class="subtitle-bar"></div>
  </div>

  <div class="main-box">
    <div class="content-container">
      <div class="card-title" style="">
        <button class="details-button" (click)="goToCreateService()">Novo Serviço</button>
      </div>

      <div *ngFor="let service of services" class="service-card">
        <p>{{ service.title }}</p>
        <h3>{{ service.description | slice: 0 : 30 }}{{ service.description.length > 30 ? '...' : '' }}</h3>
        <p>
          <!-- <span class="status-badge status-{{ service.status | lowercase }}">
          {{ service.status }}
        </span> -->
        </p>
        <button *ngIf="service.id" [routerLink]="'/condominal-service/view/' + service.id">Ver detalhes</button>
        <button *ngIf="service.id" (click)="goToEditService(service.id)">Editar</button>
      </div>
    </div>
  </div>
</main>
