<main>
  <div class="header">
    <h1>Serviços</h1>
    <div class="subtitle-bar"></div>
  </div>

  <div class="main-box">
    <div class="content-container">
      <button class="buttonCreateService" (click)="goToCreateService()">Novo Serviço</button>


      <div class="service-search-bar">
        <input
          type="text"
          [(ngModel)]="searchText"
          placeholder="Pesquisar Serviços"
          class="service-search-input"
        >
      </div>

      <div *ngFor="let service of filterServices()" class="card">
        <h3>{{service.title}}</h3>
        <p>{{ service.description}}</p>
        <p>Nome do Prestador: {{ service.providerName }}</p>
        <p>Contato: {{ service.cellphone }}</p>

        <div class="card-actions">
          <button *ngIf="service.id" class="buttonViewService" [routerLink]="'/condominal-service/view/' + service.id">Ver detalhes</button>
          <button *ngIf="service.id" class="buttonViewService" [routerLink]="'/condominal-service/edit/' + service.id">Editar</button>
          <button class="delete-button" (click)="deleteService(service.id!)">Deletar</button>
        </div>
      </div>
  </div>
</div>
</main>
