<main>
  <h1 class="page-title">Serviços</h1>

  <div class="content-container">
    <div class="top-content">
      <input [(ngModel)]="searchText" class="search-input" type="text" placeholder="Buscar serviço..." />

      <button class="add-service-button" (click)="goToCreateService()">
        <span class="material-symbols-outlined">add_circle</span>
        Adicionar Serviço
      </button>
    </div>

    <div class="list-container">
      <ul class="services-list">
        @for (service of filterServices(); track $index) {
          <li class="service-item">
            <div class="service">
              <div class="info">
                <h3 class="service-title">{{ service.title }}</h3>
                <p>
                  Descrição: <strong>{{ service.description }}</strong>
                </p>
                <p>
                  Prestador: <strong>{{ service.providerName }}</strong>
                </p>
                <p>
                  Contato: <strong>{{ service.cellphone }}</strong>
                </p>
              </div>
            </div>
            <div class="buttons">
              <button [routerLink]="'/condominal-service/edit/' + service.id">Ver Detalhes</button>
              <button class="delete-button" (click)="deleteService(service.id!)">Deletar</button>
            </div>
          </li>
        } @empty {
          <li class="no-services">Nenhum serviço encontrado.</li>
        }
      </ul>
    </div>
  </div>
</main>
