<main>
    <div class="content-container">
        <div class="top-content">
            <input class="search-input" type="text" placeholder="Buscar">
            <button class="create-reservation-button" routerLink="/reservations/form">
                Criar Reserva
            </button>
        </div>
        <div class="body-container">
            <div class="list-container">
                <h2 class="list-title">Próximas Reservas</h2>
                <ul class="reservations-list">
                    <li class="reservation-item">
                        <h3>Reserva 4</h3>
                        <p>Data: 10/04/2025</p>
                        <p>Hora: 14:00 - 20:00</p>
                    </li>
                    <li class="reservation-item">
                        <h3>Reserva 3</h3>
                        <p>Data: 08/04/2025</p>
                        <p>Hora: 10:00 - 16:00</p>
                    </li>
                </ul>
            </div>
            <div class="list-container">
                <h2 class="list-title">Reservas Anteriores</h2>
                <ul class="reservations-list">
                    <li class="reservation-item">
                        <h3>Reserva 1</h3>
                        <p>Data: 10/03/2025</p>
                        <p>Hora: 14:00 - 20:00</p>
                    </li>
                    <li class="reservation-item">
                        <h3>Reserva 2</h3>
                        <p>Data: 20/03/2025</p>
                        <p>Hora: 12:00 - 18:00</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>