main {
    width: 100%;
    height: 100vh;
    /* background-color: rgb(34, 34, 156); */
    background-color: rgba(225,235,245,255);
}

.content-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 2rem;
}

.top-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    gap: 2rem;
}

.search-input{
    width: 90%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.create-reservation-button{
    cursor: pointer;
    width: 80%;
    padding: 0.25rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(20,115,205,255);
    color: white;
    font-weight: 500;
}

.body-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.list-container {
    width: 100%;
}

.list-title {
    padding: 1rem;
}

.reservations-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.reservation-item{
    width: 100%;
    display: flex;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.info{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
