<main>
  <div class="content-container">
    <button class="back-button" (click)="goBack()">
      <span class="material-symbols-outlined">arrow_back</span>
      Voltar
    </button>

    <form [formGroup]="formulario">
      <div class="form-group">
        <label>Selecione a Área <span class="required">*</span></label>
        <select formControlName="areaId" class="input-field">
          <option value="" disabled hidden>Selecione a área</option>
          @for (item of areas; track $index) {
            <option [value]="item.id">{{ item.name }}</option>
          } @empty {
            <option value="">Nenhuma área disponível</option>
          }
        </select>
        <div *ngIf="selectedArea" class="area-details">
          <p><strong>Descrição:</strong> {{ selectedArea.description }}</p>
          <p><strong>Capacidade:</strong> {{ selectedArea.capacity }} pessoas</p>
          <p>
            <strong>Horário de Funcionamento:</strong>
            {{ selectedArea.openTime }} - {{ selectedArea.closeTime }}
          </p>

          <p>
            <strong>Status da área:</strong>
            <span [ngClass]="{ 'text-green': selectedArea.status, 'text-red': !selectedArea.status }">
              {{ selectedArea.status ? 'Disponível' : 'Indisponível' }}
            </span>
          </p>
        </div>
      </div>

      <div class="form-group">
        <label>Selecione a Data <span class="required">*</span></label>
        <input formControlName="date" type="date" [min]="minDate" class="input-field" />
      </div>

      <div class="form-group">
        <label>Informe o Intervalo de duração da reserva <span class="required">*</span></label>
        <div class="time-range">
          <div class="time-field">
            <label>Hora Início</label>
            <input formControlName="startTime" type="time" [min]="calculateLengthTime('start')" [max]="calculateLengthTime('end')" class="input-field" />
          </div>
          <div class="time-field">
            <label>Hora Fim</label>
            <input formControlName="endTime" type="time" [min]="calculateLengthTime('start')" [max]="calculateLengthTime('end')" class="input-field" />
          </div>
        </div>
      </div>

      <div *ngIf="readOnlyMode && formulario.get('status')?.value" class="form-group status-inline">
        <label>Status:</label>
        <span
          [ngClass]="{
            'status-aguardando': mapStatus(formulario.get('status')?.value) === 'Aguardando Aprovação',
            'status-aprovada': mapStatus(formulario.get('status')?.value) === 'Aprovada',
            'status-rejeitada': mapStatus(formulario.get('status')?.value) === 'Rejeitada',
          }"
          >{{ mapStatus(formulario.get('status')?.value) }}</span
        >
      </div>
    </form>

    <div class="section">
      <h2>Respostas da Reserva</h2>
      <div *ngFor="let answer of areaReservations?.answers" class="answer-box">
        <label>Resposta:</label>
        <textarea readonly [value]="answer.answer" class="readonly-textarea"></textarea>
        <p><strong>Data:</strong> {{ answer.answeredAt | date: 'dd/MM/yyyy, HH:mm' }}</p>
        <p><strong>Respondido por:</strong> {{ answer.answeredByUserName }}</p>
      </div>
    </div>

    <div *ngIf="userRole == UserRoleEnum.CondominalManager && areaReservationStatus == areaReservationStatusEnum.Pending" class="section">
      <h2>Adicionar Resposta</h2>
      <form [formGroup]="areaReservationAnswerForm" (ngSubmit)="addAnswer()">
        <div class="form-group">
          <label>Resposta:</label>
          <textarea formControlName="answer" placeholder="Descreva a resposta aqui" class="input-field"></textarea>
        </div>
        <button type="submit" class="submit-button">Adicionar Resposta</button>
      </form>

      <h2>Alterar Status</h2>
      <div class="status-buttons">
        <button (click)="changeStatus(areaReservationStatusEnum.Rejected)" class="submit-button reject">Rejeitar</button>
        <button (click)="changeStatus(areaReservationStatusEnum.Approved)" class="submit-button approve">Aprovar</button>
      </div>
    </div>

    <button *ngIf="!readOnlyMode" class="submit-button" (click)="saveAreaReservation()">Criar Reserva</button>
  </div>
</main>
