<main>
  <div class="header">
    <h1>Chama o Síndico!</h1>
    <div class="subtitle-bar"></div>
  </div>

  <div class="main-box">
    <div class="content-container">
      <ng-container *ngFor="let item of menuItems">
        <div 
          class="card"
          *ngIf="isVisible(item)" 
          (click)="routeTo(item.route)"
          >
          <span class="material-symbols-outlined icon">{{ item.icon }}</span>
          <span class="label">{{ item.label }}</span>
        </div>
      </ng-container>
      
    </div>
  </div>

  <!-- Nova caixa de ações -->
  <div class="action-box">
    <button class="action-btn" (click)="routeTo(ROUTE_PATHS.personalInfo)" style="background-color: #105a99">Ver Perfil</button>
    <button class="action-btn" (click)="onLogout()" style="background-color: #d9534f">Sair</button>
  </div>
</main>
