<main>
    <div class="content-container">
        <div class="card">
            <img class="icons" src="/icons/DocumentIcon.svg" alt="icon">
            <p>Documentos</p>
        </div>
        <div class="card">
            <img class="icons" src="/icons/MegaphoneIcon.svg" alt="icon">
            <p>Denúncias</p>
        </div>
        <div class="card">
            <img class="icons" src="/icons/WorkIcon.svg" alt="icon">
            <p>Serviços</p>
        </div>
        <div class="card">
            <img class="icons" src="/icons/ChatIcon.svg" alt="icon">
            <p>Fale com o Síndico</p>
        </div>
        <div class="card">
            <img class="icons" src="/icons/PoolIcon.svg" alt="icon">
            <p>Reservas</p>
        </div>
        <div class="card">
            <img class="icons" src="/icons/BuildingIcon.svg" alt="icon">
            <p>Edifício</p>
        </div>
    </div>
</main>
