<main>
    <div class="content-container">
        <div class="top-content">
            <input class="search-input" type="text" placeholder="Buscar">
            <button class="create-reservation-button" routerLink="/areas/form">
                Criar Área
            </button>
        </div>
        <div class="body-container">
            <div class="list-container">
                <h2 class="list-title">Áreas</h2>
                <ul class="reservations-list">
                    <li class="reservation-item">
                        <h3>Piscina</h3>
                        <p>Área de Piscina</p>
                        <p>Capacidade: 10 Pessoas</p>
                    </li>
                    <li class="reservation-item">
                        <h3>Churrasqueira</h3>
                        <p>Área da Churrasqueira</p>
                        <p>Capacidade: 40 pessoas</p>
                    </li>
                    <li class="reservation-item">
                        <h3>Salão de Festa</h3>
                        <p>Área de Salão de Festa</p>
                        <p>Capacidade: 100 pessoas</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>