<div class="sidebar" [class.open]="isOpen">
  <button class="sidebar-toggle" (click)="toggleSidebar()">☰</button>

  <div class="menu-content">
    <h2>Serviços</h2>
    <h2 routerLink="/complaints/list/">Denúncias</h2>
    <h2 routerLink="/reservations/view/">Reservas</h2>
    <h2 routerLink="/areas/view/" *ngIf="this.userRole == UserRoleEnum.CondominalManager">Áreas</h2>
    <h2 routerLink="/vehicles/view/">Veículos</h2>
    <h2 routerLink="/contact-info" *ngIf="this.userRole == UserRoleEnum.Resident">Contato do síndico</h2>
  </div>

  <div class="user-info">
    <p class="greeting">Olá, {{ userName }}!</p>
    <div class="action-buttons">
      <button class="profile-button" (click)="goToProfile()">Ver Perfil</button>
      <button class="logout-button" (click)="logout()">Sair</button>
    </div>
  </div>
</div>