<main>
  <div class="content-container">
    <button class="back-button" (click)="goBack()">
      <span class="material-symbols-outlined">arrow_back</span>
      Voltar
    </button>

    <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label>Nome do Serviço <span class="required">*</span></label>
        <input type="text" formControlName="title" placeholder="Nome do Serviço" class="input-field" />
      </div>

      <div class="form-group">
        <label>Nome do Prestador <span class="required">*</span></label>
        <input type="text" formControlName="providerName" placeholder="Nome Completo do Prestador" class="input-field" />
      </div>

      <div class="form-group">
        <label>Telefone de Contato <span class="required">*</span></label>
        <input type="text" formControlName="cellphone" placeholder="(00) 00000-0000" class="input-field" />
      </div>

      <div class="form-group">
        <label>Descrição <span class="required">*</span></label>
        <textarea rows="4" formControlName="description" class="input-field" placeholder="Descreva o serviço"></textarea>
      </div>

      <div class="form-group">
        <label>Foto do Serviço</label>
        <div class="upload-box" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
          <input #fileInput type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none" />

          <ng-container *ngIf="!previewImg">
            <button type="button" class="add-img" (click)="openImgSelector(fileInput)">Buscar imagem</button>
            <p>Ou arraste a imagem aqui</p>
          </ng-container>

          <ng-container *ngIf="previewImg">
            <button type="button" class="remove-img" (click)="removeImg()" aria-label="Remover imagem">
              <span class="material-symbols-outlined" style="color: red; font-size: 24px">delete</span>
            </button>
            <img [src]="previewImg" alt="Preview" style="max-width: 350px; object-fit: cover" />
          </ng-container>
        </div>
      </div>

      <button class="submit-button" type="submit" [disabled]="!serviceForm.valid">
        {{ serviceId ? 'Editar' : 'Criar' }}
      </button>
    </form>
  </div>
</main>
