/* 
Font: libografia
Cores do projeto:
Preto: 
    #42a5f5 principal
    #42a5f5 secundario
    #42a5f5 disabilitado
Azul:
    #1976d2 principal 
    #1565c0 escuro
    #42a5f5 claro
    #42a5f5 hover
    #42a5f5 selected
    #42a5f5 focus
    #42a5f5 focus visible
    #42a5f5 outline border
Roxo:
   #42a5f5 principal
   #42a5f5 escuro
   #42a5f5 claro
Vermelho: 
    #42a5f5 
Laranja: 
    #42a5f5
*/