<main>
  <div class="content-container">
    <button class="back-button" (click)="goToComplaints()">
      <span class="material-symbols-outlined">arrow_back</span>
      Voltar
    </button>

    <form [formGroup]="viewComplaintForm" class="form">
      <h1 style="font-size: 1.4rem; color: #334155">Detalhes da Ocorrência</h1>

      <!-- Campos da ocorrência -->
      <div class="form-group">
        <label>Assunto</label>
        <p class="field-view">{{ viewComplaintForm.value.title }}</p>
      </div>

      <div class="form-group">
        <label>Data da Ocorrência</label>
        <p class="field-view">{{ complaintModel.createdAt | date: 'dd/MM/yyyy, HH:mm' }}</p>
      </div>

      <div class="form-group">
        <label>Descrição Detalhada</label>
        <p class="field-view">{{ viewComplaintForm.value.description }}</p>
      </div>

      <div class="form-group" *ngIf="complaintModel?.imageUrl">
        <label>Imagem do Problema</label>
        <img [src]="complaintModel.imageUrl" alt="Imagem da ocorrência" style="max-width: 100%; border-radius: 8px" />
      </div>

      <div class="form-group">
        <label>Status:</label>
        <span
          [ngClass]="{
            'status-pendente': viewComplaintForm.value.status === 'Pendente',
            'status-em-andamento': viewComplaintForm.value.status === 'Em progresso',
            'status-resolvida': viewComplaintForm.value.status === 'Resolvida',
          }"
        >
          {{ viewComplaintForm.value.status }}
        </span>
      </div>

      <div class="form-group" *ngIf="complaintModel.closedAt">
        <label>Data de Resolução</label>
        <p class="field-view">{{ complaintModel.closedAt | date: 'dd/MM/yyyy, HH:mm' }}</p>
      </div>
    </form>

    <div class="form">
      <!-- Respostas -->
      <div class="section">
        <h2>Respostas da Ocorrência</h2>
        <div *ngIf="complaintModel?.answers?.length ?? 0 > 0; else noAnswers">
          <div *ngFor="let answer of complaintModel?.answers" class="answer-box">
            <label>Resposta:</label>
            <textarea readonly [value]="answer.answer" class="readonly-textarea"></textarea>
            <p><strong>Data:</strong> {{ answer.answeredAt | date: 'dd/MM/yyyy, HH:mm' }}</p>
            <p><strong>Respondido por:</strong> {{ answer.anseredByUserName }}</p>
          </div>
        </div>
        <ng-template #noAnswers>
          <p class="field-view" style="font-style: italic; color: #64748b">Nenhuma resposta foi registrada até o momento.</p>
        </ng-template>
      </div>

      <!-- Adicionar resposta e alterar status -->
      <div
        *ngIf="
          userRole == UserRoleEnum.CondominalManager && (complaintStatus === complaintStatusEnum.Pending || complaintStatus === complaintStatusEnum.InProgress)
        "
        class="section"
      >
        <h2>Adicionar Resposta</h2>
        <form [formGroup]="complaintAnswerForm" (ngSubmit)="addAnswer()">
          <div class="form-group">
            <label for="answer">Resposta:</label>
            <textarea id="answer" formControlName="answer" placeholder="Descreva a resposta aqui" class="input-field"></textarea>
          </div>
          <button type="submit" class="submit-button">Adicionar Resposta</button>
        </form>

        <h2>Alterar Status</h2>
        <div class="button-group">
          <button *ngIf="complaintStatus !== complaintStatusEnum.InProgress" (click)="changeStatus(complaintStatusEnum.InProgress)" class="submit-button">
            Em Andamento
          </button>
          <button (click)="changeStatus(complaintStatusEnum.Resolved)" class="submit-button">Resolvido</button>
        </div>
      </div>
    </div>
  </div>
</main>
