<main>
    <div class="content-container">
        <form [formGroup]="formulario">
            <div class="form-group">
                <label>Tipo <span style="color: red;">*</span></label>
                <select formControlName="vehicleType" class="form-select">
                    <option disabled hidden value="">Selecione o Tipo de Veículo</option>
                    <option value="carro">Carro</option>
                    <option value="moto">Moto</option>
                </select>
            </div> 
            <div class="form-group">
                <label>Modelo <span style="color: red;">*</span></label>
                <input formControlName="model" type="text" placeholder="Modelo do Veículo">
            </div>
            <div class="form-group">
                <label>Placa <span style="color: red;">*</span></label>
                <input formControlName="licensePlate" type="text" placeholder="Placa do Veículo">
            </div>
            <div class="form-group">
                <label>Número da Vaga <span style="color: red;">*</span></label>
                <input formControlName="carSpace" type="number" placeholder="Número da Vaga" min="1" max="500">
            </div>
            <div class="form-group">
                <label>Foto do Carro <span style="color: red;">*</span></label>
                <input #fileInput (change)="onFileSelected($event)" class="file-input" type="file" accept="image/*" placeholder="Foto do Carro">
            </div>
        </form>
        <div class="buttons">
            <button class="" routerLink="/vehicles/view">Voltar</button>
            <button class="" (click)="saveVehicle()">Enviar</button>
        </div>
    </div>
</main>