/* FORMATAÇÃO GERAL  */
* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  width: 360px;
  height: 800px;
  margin: 0 auto;

  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* INCIO DO HEADER  */
header {
  background-color: #1565c0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  height: 60px;
  flex-shrink: 0;
}

header h1 {
  font-size: 18px;
  font-weight: bold;
}

/* icons  */
.icons button {
  border: none;
  background: none;
  font-size: 18px;
  color: white;
}
.icon-button {
  border: none;
  background: none;
  font-size: 18px;
  color: white;
}

.icon-button:hover {
  color: #007bff;
}

/* FIM DO HEADER  */

/* INCIO DO BODY  */
.conteudo {
  padding: 20px;
  margin-top: 20px;
}

/* Titulo do serviço  */
.service-name {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 1rem;
}

label {
  font-weight: 600;
  font-size: 14px;
  margin-top: 12px;
  display: block;
  color: #333;
}

p {
  color: black;
  background: #fff;
  padding: 0;
  /* border: 1px solid #ccc; */
  border-radius: 6px;
  font-size: 14px;
  margin-top: 4px;
}

.preview-image {
  width: 100%;
  border-radius: 8px;
  margin-top: 8px;
}
