<main>
  <h1 class="page-title">Moradores</h1>
  <div class="content-container">
    <div class="top-content">
      <input [(ngModel)]="searchText" class="search-input" type="text" placeholder="Buscar morador..." />
    </div>

    <div class="list-container">
      <ul class="residents-list">
        @for (item of filterResidents(); track $index) {
          <li class="resident-item">
            <div class="info">
              <h3 class="resident-name">{{ item.name }}</h3>
              <p>
                Telefone: <strong>{{ item.phone }}</strong>
              </p>
              <p>
                Email: <strong>{{ item.email }}</strong>
              </p>
              <p>
                Apartamento: <strong>{{ item.apartmentNumber }}</strong>
              </p>
            </div>
            <div class="buttons">
              <button class="delete-button" (click)="deleteResident(item.userId!)">Deletar</button>
            </div>
          </li>
        } @empty {
          <li class="no-residents">Nenhum morador encontrado.</li>
        }
      </ul>
    </div>
  </div>
</main>
