<main>
  <div class="content-container">
    <div class="top-content">
      <input [(ngModel)]="searchText" class="search-input" type="text" placeholder="Buscar área..." />
      <button class="create-button" routerLink="/areas/form">
        <span class="material-symbols-outlined">add_circle</span>
        Criar Área
      </button>
    </div>

    <div class="list-container">
      <h2 class="list-title">Áreas Cadastradas</h2>
      <ul class="reservations-list">
        @for (item of filterAreas(); track $index) {
          <li class="reservation-item">
            <div class="info">
              <h3 class="area-name">{{ item.name }}</h3>
              <p class="description">{{ item.description }}</p>
              <p class="meta">
                Capacidade: <strong>{{ item.capacity }}</strong> pessoas
              </p>
              <p class="meta">
                Funcionando:
                <span class="status" [class.active]="item.status">{{ item.status ? 'Sim' : 'Não' }}</span>
              </p>
            </div>
            <div class="buttons">
              <button class="details-button" [routerLink]="'/areas/form/' + item.id">Ver Detalhes</button>
              <button class="delete-button" (click)="deleteArea(item.id)">Deletar</button>
            </div>
          </li>
        }
      </ul>
    </div>
  </div>
</main>
