<main>
  <div class="header">
    <h1>Denúncias</h1>
    <div class="subtitle-bar"></div>
  </div>

  <div class="main-box">
    <div class="content-container">
      <div class="card-title" style="">
        <button class="details-button" (click)="goToCreateComplaint()">Nova Denúncia</button>
      </div>

      <div *ngFor="let complaint of complaints" class="card">
        <p class="label">{{ complaint.title }}</p>
        <h3>{{ complaint.description | slice:0:30 }}{{ complaint.description.length > 30 ? '...' : '' }}</h3>
        <p>
          <strong>Status:</strong>
          <span class="status-badge status-{{ complaint.status | lowercase }}">
            {{ complaint.status }}
          </span>
        </p>
        <p><strong>Data:</strong> {{ complaint.createdAt | date: 'dd/MM/yyyy' }}</p>
      </div>
    </div>
  </div>
</main>
