<main>
  <h1 class="page-title">Ocorrências</h1>

  <div class="content-container">
    <div class="top-content">
      <input [(ngModel)]="searchText" class="search-input" type="text" placeholder="Buscar ocorrência..." />
      <button *ngIf="this.userRole == this.UserRoleEnum.Resident" class="create-button" (click)="goToCreateComplaint()">
        <span class="material-symbols-outlined">add_circle</span>
        Nova Ocorrência
      </button>
    </div>

    <div class="list-container">
      <ul class="reservations-list">
        @for (complaint of filterComplaints(); track $index) {
          <li class="reservation-item">
            <div class="info">
              <h3 class="area-name">{{ complaint.title }}</h3>
              <p class="description">{{ complaint.description }}</p>
              <p class="meta">
                Status:
                <span
                  class="status"
                  [ngClass]="{
                    'status-pendente': complaint.status === 'Pendente',
                    'status-em-andamento': complaint.status === 'Em progresso',
                    'status-resolvida': complaint.status === 'Resolvida',
                  }"
                  >{{ complaint.status }}</span
                >
              </p>
              <p class="meta">
                Data: <strong>{{ complaint.createdAt | date: 'dd/MM/yyyy' }}</strong>
              </p>
              <p class="meta">
                Criado por: <strong>{{ complaint.createdByUserName }}</strong>
              </p>
            </div>
            <div class="buttons">
              <button class="details-button" *ngIf="complaint.complaintId" [routerLink]="'/complaints/view/' + complaint.complaintId">Ver Detalhes</button>
              <button
                *ngIf="complaint.status == this.ComplaintStatusEnum.Pending"
                class="delete-button"
                (click)="deleteComplaint(complaint.complaintId, complaint.createdByUserName)"
              >
                Deletar
              </button>
            </div>
          </li>
        }
      </ul>
      <p *ngIf="filterComplaints().length === 0" class="empty-message">Nenhuma ocorrência encontrada.</p>
    </div>
  </div>
</main>
