*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	background-color: var(--primary-color);
}

:root {
	--primary-color: #1976D2;
	--primary-color-light: #42A5F5;
	--secondary-color: #9C27B0;
	--secondary-color-light: #BA68C8;
	--text-color: #333;
    --border-radius: 10px;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}